body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(137, 138, 196, 0.829);
}
h1{
    text-align: center;
    color: white;
}
img{
    width: 150px;
    border-radius: 30%;
}
a{
    font-size: 30px;
    color: black;
}
h6{
    font-style: italic;
}