body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(219, 219, 219);
    display: flex;
    justify-content: center;
    color: slategray;
    margin: 0;
}
a{
    text-decoration: none;
    color: slategray;
    margin: 16px;
}
p{
    margin: 16px 0;
    max-width: 300px;
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}
main.panel{
    width: 900px;
    height: 820px;
    line-height: 2;
    display: flex;
}
.panel__first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px;
    color: slategray;
    background: white;
    width: 55%;
    border-radius: 20px 0 0 20px;
}
.panel__first .link a{
    display: inline-block;
    font-weight: bold;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid slategray;
    border-radius: 200px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    background: #F0F4F3;
    padding: 16px;
    margin: 8px 0;
    border: 0;
}
.need_help{
    border-bottom: 1px solid rgb(218, 221, 224);
    border-bottom-style: dashed;
}
.contact_me{
    width: 200px;
    height: 40px;
    background: #3AB19B;
    color: white;
    border: 1px;
    border-radius: 50px;
    margin: 32px 0;
    text-transform: uppercase;
    font-size: 15px;
}
.panel__second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding: 32px 16px;
    background: #3AB19B;
    color: white;
    border-radius: 0 20px 20px 0;
}
.arrow{
    width: 120px;
    height: 50px;
    background: #3AB19B;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    margin: 32px 0;
    text-transform: uppercase;
    font-size: 15px;
}
img{
    width: 50px;
}
.ftin:hover{
    background: slategray;
    color: white;
}
.contact_me:hover{
    border: 1px solid white;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}